@import "../styles/styles";

.stella {
    box-sizing: border-box;
    height: 100%;
    color: $text-color;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    padding: 16px 0;
    display: flex;
    justify-content: center;
}

.navLink {
    @include link;
    @include font-medium;
}

.content {
    height: 100%;
    max-width: 300px;
}